<ion-tabs class="tabs-striped tabs-icon-top tabs-background-stable tabs-color-positive">
   <ion-tab title="Home" icon-on="ion-ios-home" 
      icon-off="ion-ios-home-outline" href="#/user/home">
      <ion-nav-view name="user-home"></ion-nav-view>
   </ion-tab>
   <ion-tab title="Map" icon-on="ion-ios-book" 
      icon-off="ion-ios-book-outline" href="#/user/map">
      <ion-nav-view name="user-map"></ion-nav-view>
   </ion-tab>
   <ion-tab title="Options" icon-on="ion-ios-gear" 
      icon-off="ion-ios-gear-outline" href="#/user/options">
      <ion-nav-view name="user-options"></ion-nav-view>
   </ion-tab>
   <ion-tab title="Profile" icon-on="ion-ios-person" 
      icon-off="ion-ios-person-outline" href="#/user/profile">
      <ion-nav-view name="user-profile"></ion-nav-view>
   </ion-tab>
</ion-tabs>