<ion-view view-title="Home" name="home-view">
  <ion-content class="padding backgroundGrey">
      <div class="list list-inset backgroundGrey">
         <h3 style="text-align: center;">MarketPlace</h3>
      </div>
      <button class="button button-block button-calm" ng-click="changeState('user.search')">Search markets</button>
      <button class="button button-block button-calm" ng-click="changeState('user.lastplaces')">Last places</button>
      <button class="button button-block button-calm" ng-click="changeState('user.notif')">Notifications</button>
  </ion-content>
</ion-view>
